@mixin Button {
  background-color: green;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  color: white;
  margin: 20px 0px 0px 50px;
  cursor: pointer;
}
.container {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    border: 5px solid black;
    border-radius: 20px;
    padding: 30px;
    input {
      margin-top: 20px;
    }

    .user-age {
      margin-left: 40px;
    }
    .user-status {
      margin: 20px 0px 0px 100px;
    }
    .add-list {
      @include Button();
    }
    .show-list {
      @include Button();
      background-color: rgb(0, 2, 128);
      margin: 20px 0px 0px 0px;
    }
  }
}
